{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}پنل مدیریت - درسینو{% endblock %}</title>
    <!-- فونت فارسی -->
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@latest/dist/font-face.css" rel="stylesheet">
    <!-- CSS پنل ادمین -->
    <link rel="stylesheet" href="{% static 'css/admin_panel.css' %}">
</head>
<body>

<!-- سایدبار سمت راست -->
<div class="sidebar">
    <a href="{% url 'admin_panel:index' %}">داشبورد</a>
    <a href="{% url 'admin_panel:user_list' %}">کاربران</a>

    <div class="sidebar-dropdown">
        <a href="javascript:void(0)">تنظیمات سایت ▾</a>
        <div class="sidebar-dropdown-menu">
            <a href="{% url 'admin_panel:site_setting_list' %}">تنظیمات اصلی سایت</a>
            <a href="{% url 'admin_panel:banner_list' %}">بنرها</a>
            <a href="{% url 'admin_panel:footer_box_list' %}">دسته‌بندی لینک فوتر</a>
            <a href="{% url 'admin_panel:footer_link_list' %}">لینک‌های فوتر</a>
        </div>
    </div>

    <div class="sidebar-dropdown">
        <a href="javascript:void(0)">دوره‌ها ▾</a>
        <div class="sidebar-dropdown-menu">
            <a href="{% url 'admin_panel:course_list' %}">دوره‌ها</a>
            <a href="{% url 'admin_panel:category_list' %}">دسته‌بندی</a>
        </div>
    </div>

    <a href="{% url 'admin_panel:teacher_list' %}">مدرس‌ها</a>

    <div class="sidebar-dropdown">
        <a href="javascript:void(0)">مقاله و نویسنده ▾</a>
        <div class="sidebar-dropdown-menu">
            <a href="{% url 'admin_panel:article_list' %}">مقاله‌ها</a>
            <a href="{% url 'admin_panel:author_list' %}">نویسنده‌ها</a>
        </div>
    </div>

    <a href="{% url 'admin_panel:contact_list' %}">  تماس با ما  </a>
    <a href="{% url 'admin_panel:ticket_list' %}">تیکت‌ها</a>

    <div class="sidebar-dropdown">
        <a href="javascript:void(0)">سبد خرید و کد تخفیف ▾</a>
        <div class="sidebar-dropdown-menu">
            <a href="{% url 'admin_panel:order_list' %}">سبد خرید کاربران</a>
            <a href="{% url 'admin_panel:discount_list' %}">کدهای تخفیف</a>
        </div>
    </div>
</div>

<!-- هدر بالا -->
<header>
    <h1>پنل مدیریت درسینو</h1>
</header>

<!-- محتوای اصلی -->
<div class="container">
    {% block content %}{% endblock %}
</div>

<!-- JS پنل ادمین -->
<script src="{% static 'js/admin_panel.js' %}"></script>
</body>
</html>
