{% extends "admin_panel/admin_panel_base.html" %}
{% load widget_tweaks %}


{% block content %}
<div class="form-wrapper mt-4">
    <h2 class="page-title">{% if code %}ویرایش{% else %}افزودن{% endif %} کد تخفیف</h2>

    <form method="post" class="custom-form">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field|add_class:"form-control" }}
                {% if field.errors %}
                    <div class="form-error">{{ field.errors }}</div>
                {% endif %}
            </div>
        {% endfor %}

        <div class="form-buttons">
            <button type="submit" class="btn-submit">{% if code %}بروزرسانی{% else %}ذخیره{% endif %}</button>
            <a href="{% url 'admin_panel:discount_list' %}" class="btn-cancel">بازگشت</a>
        </div>
    </form>
</div>
{% endblock %}
