{% load static %}


        <!-- Jquery js -->
    <!-- <script src="js/jquery-3.7.1.min.js"></script> -->
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <!-- Bootstrap Bundle Js -->
    <script src="{% static 'js/boostrap.bundle.min.js' %}"></script>
    <!-- select2 Js -->
    <script src="{% static 'js/select2.min.js' %}"></script>
    <!-- Phosphor Icon Js -->
    <script src="{% static 'js/phosphor-icon.js' %}"></script>
    <!-- Slick js -->
    <script src="{% static 'js/slick.min.js' %}"></script>
    <!-- Slick js -->
    <script src="{% static 'js/counter.min.js' %}"></script>
    <!-- magnific popup -->
    <script src="{% static 'js/magnific-popup.min.js' %}"></script>
    <!-- Jquery Ui js -->
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <!-- marquee js -->
    <script src="{% static 'js/marquee.min.js' %}"></script>
    <!-- react charts-->
     <script src="{% static 'js/apexcharts.js' %}"></script>
    <!-- plyr Js -->
    <script src="{% static 'js/plyr.js' %}"></script>
    <!-- vanilla Tilt -->
    <!-- Editor js Toolbar Start -->
    <script src="{% static 'js/editor-quill.js' %}"></script>
    <!-- dataTables -->
    <script src="{% static 'js/dataTables.min.js' %}"></script>
    <!-- Tilt -->
    <script src="{% static 'js/vanilla-tilt.min.js' %}"></script>
    <!-- wow -->
    <script src="{% static 'js/wow.min.js' %}"></script>

    <script src="{% static 'js/aos.js' %}"></script>

    <script>
        AOS.init();
    </script>

    <!-- main js -->
    <script src="{% static 'js/main.js' %}"></script>