{% extends "admin_panel/admin_panel_base.html" %}


{% block content %}
    <h2>مدیریت مقالات</h2>
    <a href="{% url 'admin_panel:article_create' %}" class="btn btn-success mb-3">افزودن مقاله جدید</a>

    <table class="table table-striped">
        <thead>
            <tr>
            <th>عنوان</th>
            <th>نویسنده</th>
            <th>عملیات</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr>
            <td>{{ article.title }}</td>
            <td>{{ article.author }}</td>
            <td>
                <a href="{% url 'admin_panel:article_update' article.id %}" class="btn btn-sm btn-primary">ویرایش</a>
                <a href="{% url 'admin_panel:article_delete' article.id %}" class="btn btn-sm btn-danger">حذف</a>
            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
