{% extends "admin_panel/admin_panel_base.html" %}

{% block content %}
<div class="detail-wrapper">
    <h2 class="page-title">جزئیات پیام</h2>

    <ul class="detail-list">
        <li><strong>فرستنده:</strong> {{ message.name }}</li>
        <li><strong>ایمیل:</strong> {{ message.email }}</li>
        <li><strong>متن پیام:</strong> {{ message.msg }}</li>
        <li><strong>تاریخ ارسال:</strong> {{ message.created_at|date:"Y/m/d - H:i" }}</li>
    </ul>

    <a href="{% url 'admin_panel:contact_list' %}" class="btn-back">بازگشت</a>
</div>
{% endblock %}
