{% extends "admin_panel/admin_panel_base.html" %}

{% block content %}
<div class="form-wrapper">
    <h2 class="page-title">
        {% if setting %}ویرایش تنظیمات سایت{% else %}افزودن تنظیمات{% endif %}
    </h2>

    <form method="post" enctype="multipart/form-data" class="custom-form">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <div class="form-error">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}

        <button type="submit" class="btn-submit">ذخیره تغییرات</button>
    </form>
</div>
{% endblock %}
