{% extends "admin_panel/admin_panel_base.html" %}

{% block content %}
<h2 class="page-title d-flex justify-content-between align-items-center">
    تنظیمات سایت
</h2>
 <a href="{% url 'admin_panel:site_setting_create' %}" class="btn-add">+ افزودن تنظیمات جدید</a>

<div class="table-container mt-3">
    <table class="custom-table">
        <thead>
            <tr>
                <th>نام سایت</th>
                <th>دامنه</th>
                <th>ایمیل</th>
                <th>عملیات</th>
            </tr>
        </thead>
        <tbody>
            {% for setting in settings %}
            <tr>
                <td>{{ setting.site_name }}</td>
                <td>{{ setting.site_url }}</td>
                <td>{{ setting.email }}</td>
                <td>
                    <a href="{% url 'admin_panel:site_setting_update' setting.id %}" class="btn-edit">ویرایش</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center text-muted">هیچ تنظیماتی ثبت نشده است.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
