{% extends "admin_panel/admin_panel_base.html" %}

{% block content %}
<div class="table-wrapper">
    <div class="table-header">
        <h2 class="page-title">مدیریت مدرس‌ها</h2>
        <a href="{% url 'admin_panel:teacher_create' %}" class="btn-add">+ افزودن مدرس جدید</a>
    </div>

    <div class="table-container">
        <table class="custom-table">
            <thead>
                <tr>
                    <th>عکس</th>
                    <th>اسم کامل</th>
                    <th>تخصص</th>
                    <th>ایمیل</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                {% for teacher in teachers %}
                <tr>
                    <td>
                        {% if teacher.image %}
                            <img src="{{ teacher.image.url }}" alt="عکس استاد" class="table-img">
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>{{ teacher.fullname }}</td>
                    <td>{{ teacher.job }}</td>
                    <td>{{ teacher.email }}</td>
                    <td>
                        <a href="{% url 'admin_panel:teacher_update' teacher.id %}" class="btn-edit">ویرایش</a>
                        <a href="{% url 'admin_panel:teacher_delete' teacher.id %}" class="btn-delete">حذف</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center text-muted">هیچ مدرسی ثبت نشده است.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
